# local configuration

APP_PORT=17446
APP_HOST=localhost
APP_ENV=development
APP_NAME=starter-api

HASHID_SALT=salt-is-garam
HASHID_MIN_LENGTH=10

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-database-password
POSTGRES_NAME=starter

POSTGRES_MAX_OPEN_CONNS=50
POSTGRES_MAX_CONN_LIFETIME=10m
POSTGRES_MAX_IDLE_LIFETIME=5m

REDIS_ADDRESS=127.0.0.1:6379
REDIS_PASSWORD=your-redis-password

SMTP_HOST=smtp.your-smtp.com
SMTP_PORT=your-smtp-port
SMTP_USER=no-reply@your-domain.com
SMTP_PASS=your-smtp-password
SMTP_FROM="Your App Name <no-reply@your-domain.com"

ONESIGNAL_APP_ID=your-onesignal-id
ONESIGNAL_APP_KEY=your-onesignal-app-key

JWT_PUBLIC=./config/rsa-key/oauth-public.key
JWT_PRIVATE=./config/rsa-key/oauth-private.key
JWT_ISSUER=starter.app
JWT_ISSUER_CMS=starter.cms

MAILGUN_FROM=
MAILGUN_DOMAIN=
MAILGUN_API_KEY=

GOOGLE_PROJECT_ID=tidal-discovery
GOOGLE_SA=gcp-sa.json
GOOGLE_STORAGE_BUCKET_NAME=
GOOGLE_STORAGE_ENDPOINT=

FORGOT_PASSWORD_URL=https://your-forgot-password-url.com/forgot-password
